USE [master]
GO
/****** Object:  Database [VaagoProject]    Script Date: 20/04/2021 4:43:07 pm ******/
CREATE DATABASE [VaagoProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VaagoProject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\VaagoProject.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'VaagoProject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\VaagoProject_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VaagoProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VaagoProject]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 20/04/2021 4:43:07 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[account_ID] [int] IDENTITY(1,1) NOT NULL,
	[account_type] [int] NULL,
	[name] [nvarchar](320) NULL,
	[email] [nvarchar](320) NULL,
	[pass] [nvarchar](320) NULL,
	[phone] [nvarchar](320) NULL,
	[location] [nvarchar](320) NULL,
PRIMARY KEY CLUSTERED 
(
	[account_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cart]    Script Date: 20/04/2021 4:43:08 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[account_ID] [int] NULL,
	[itemID] [int] NULL,
	[itemQuantity] [int] NULL,
	[totalAmount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Menu]    Script Date: 20/04/2021 4:43:08 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Menu](
	[itemID] [int] IDENTITY(1,1) NOT NULL,
	[itemName] [varchar](320) NULL,
	[itemDesc] [varchar](320) NULL,
	[itemImgpath] [varchar](320) NULL,
	[itemCategory] [varchar](320) NULL,
	[itemPrice] [varchar](320) NULL,
	[itemSKU]  AS ('MENU'+right('_'+CONVERT([varchar](8),[itemID]),(8))) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[itemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Order_Details]    Script Date: 20/04/2021 4:43:08 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Details](
	[detailID] [int] IDENTITY(1,1) NOT NULL,
	[orderID] [int] NULL,
	[itemQuantity] [int] NULL,
	[itemID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[detailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 20/04/2021 4:43:08 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Orders](
	[orderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[orderTime] [varchar](320) NULL,
	[orderDate] [varchar](320) NULL,
	[orderStatus] [varchar](320) NULL,
	[numberOfItems] [varchar](320) NULL,
	[Amount] [varchar](320) NULL,
	[deliveryCharges] [varchar](320) NULL,
	[City] [varchar](320) NULL,
	[notes] [varchar](320) NULL,
PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 20/04/2021 4:43:08 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Reservations](
	[reserveID] [int] IDENTITY(1,1) NOT NULL,
	[Reservation Number]  AS ('RESERVE'+right('00'+CONVERT([varchar](8),[reserveID]),(8))) PERSISTED,
	[byName] [nvarchar](320) NULL,
	[byEmail] [nvarchar](320) NULL,
	[byContact] [nvarchar](320) NULL,
	[numberOfPersons] [int] NULL,
	[reserveDateTime] [nvarchar](320) NULL,
	[eventType] [nvarchar](320) NULL,
	[byMessage] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[reserveID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 20/04/2021 4:43:08 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Roles](
	[roleID] [int] NOT NULL,
	[roleName] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[roleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SiteMessages]    Script Date: 20/04/2021 4:43:08 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SiteMessages](
	[msgID] [int] IDENTITY(1,1) NOT NULL,
	[msgName] [varchar](320) NULL,
	[msgEmail] [varchar](320) NULL,
	[msgSubject] [varchar](320) NULL,
	[msgBody] [varchar](320) NULL,
PRIMARY KEY CLUSTERED 
(
	[msgID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

GO
INSERT [dbo].[Accounts] ([account_ID], [account_type], [name], [email], [pass], [phone], [location]) VALUES (1, 1, N'Asad Qamar Bajwa', N'qm@admin.com', N'000', N'+92 11111111', N'80% karachi, Sari Streets, Sari States, Pakistan')
GO
INSERT [dbo].[Accounts] ([account_ID], [account_type], [name], [email], [pass], [phone], [location]) VALUES (2, 2, N'Qamar Jawed Bajwa', N'Anums222@hotmail.com', N'555', N'+9211111111', N'80% karachi, Sari Streets, Sari States, Pakistan')
GO
INSERT [dbo].[Accounts] ([account_ID], [account_type], [name], [email], [pass], [phone], [location]) VALUES (3, 2, N'Test User', N'test@user.com', N'123456', N'123123123', N'Fkatr123 1231asd ')
GO
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

GO
INSERT [dbo].[Cart] ([ID], [account_ID], [itemID], [itemQuantity], [totalAmount]) VALUES (26, 919057993, 2, 1, 1145)
GO
INSERT [dbo].[Cart] ([ID], [account_ID], [itemID], [itemQuantity], [totalAmount]) VALUES (27, 919057993, 4, 1, 1145)
GO
INSERT [dbo].[Cart] ([ID], [account_ID], [itemID], [itemQuantity], [totalAmount]) VALUES (30, 105303500, 13, 1, 1080)
GO
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET ANSI_PADDING ON
GO
SET IDENTITY_INSERT [dbo].[Menu] ON 

GO
INSERT [dbo].[Menu] ([itemID], [itemName], [itemDesc], [itemImgpath], [itemCategory], [itemPrice]) VALUES (1, N'Chicken Reshmi Kebab', N'Marinated chicken in creamy spicy sauce', N'/images/reshmi.jpg', N'BBQ', N'480')
GO
INSERT [dbo].[Menu] ([itemID], [itemName], [itemDesc], [itemImgpath], [itemCategory], [itemPrice]) VALUES (2, N'Behari Kebab', N'Traditional bihari kebab with spicy touch to it', N'/images/bihari.jpg', N'BBQ', N'400')
GO
INSERT [dbo].[Menu] ([itemID], [itemName], [itemDesc], [itemImgpath], [itemCategory], [itemPrice]) VALUES (3, N'Chicken Tikka', N'Grilled Chicken breast, spring onions, secret sauces', N'/images/tikka.jpg', N'BBQ', N'280')
GO
SET IDENTITY_INSERT [dbo].[Menu] OFF
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Order_Details] ON 

GO
INSERT [dbo].[Order_Details] ([detailID], [orderID], [itemQuantity], [itemID]) VALUES (1, 1, 5, 4)
GO
INSERT [dbo].[Order_Details] ([detailID], [orderID], [itemQuantity], [itemID]) VALUES (2, 1, 2, 3)
GO
INSERT [dbo].[Order_Details] ([detailID], [orderID], [itemQuantity], [itemID]) VALUES (3, 1, 2, 8)
GO
SET IDENTITY_INSERT [dbo].[Order_Details] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

GO
INSERT [dbo].[Orders] ([orderID], [CustomerID], [orderTime], [orderDate], [orderStatus], [numberOfItems], [Amount], [deliveryCharges], [City], [notes]) VALUES (1, 8, N'5:41:49 PM', N'Mon Apr 05 2021', N'Cancelled', N'3', N'4495', N'50', NULL, NULL)
GO
INSERT [dbo].[Orders] ([orderID], [CustomerID], [orderTime], [orderDate], [orderStatus], [numberOfItems], [Amount], [deliveryCharges], [City], [notes]) VALUES (2, 3, N'4:44:22 pm', N'Friday, 9 April 2021', N'Pending', N'6', N'2305', N'50', N'Karachi', N'Asda')
GO
INSERT [dbo].[Orders] ([orderID], [CustomerID], [orderTime], [orderDate], [orderStatus], [numberOfItems], [Amount], [deliveryCharges], [City], [notes]) VALUES (3, 4, N'4:55:33 pm', N'Friday, 9 April 2021', N'Approved', N'2', N'810', N'50', N'Karachi', N'asdqe1qdasd')
GO
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET ANSI_PADDING ON
GO
SET IDENTITY_INSERT [dbo].[Reservations] ON 

GO
INSERT [dbo].[Reservations] ([reserveID], [byName], [byEmail], [byContact], [numberOfPersons], [reserveDateTime], [eventType], [byMessage]) VALUES (1, N'Anum Shafi', N'Anums222@hotmail.com', N'+92123456789', 4, N'12, March 2021 07:00:00 PM', N'Birthday Event', N'asd asdasdasdasdas das')
GO
INSERT [dbo].[Reservations] ([reserveID], [byName], [byEmail], [byContact], [numberOfPersons], [reserveDateTime], [eventType], [byMessage]) VALUES (2, N'asdasd', N'dasdasd@asdasd', N'12341234123', NULL, N'123123-03-12T12:31', N'Family Dine-in', N'1231231 123 12312 sada ad')
GO
INSERT [dbo].[Reservations] ([reserveID], [byName], [byEmail], [byContact], [numberOfPersons], [reserveDateTime], [eventType], [byMessage]) VALUES (3, N'Milad Khan', N'aasdad@asda.com', N'0333031245', NULL, N'45122-02-01T02:52', N'Birthday Event', N'asd 12 asd awd12e cas')
GO
SET IDENTITY_INSERT [dbo].[Reservations] OFF
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Roles] ([roleID], [roleName]) VALUES (1, N'Admin')
GO
INSERT [dbo].[Roles] ([roleID], [roleName]) VALUES (2, N'Customer')
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Accounts__AB6E616446A75296]    Script Date: 20/04/2021 4:43:08 pm ******/
ALTER TABLE [dbo].[Accounts] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD FOREIGN KEY([account_type])
REFERENCES [dbo].[Roles] ([roleID])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([itemID])
REFERENCES [dbo].[Menu] ([itemID])
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD FOREIGN KEY([itemID])
REFERENCES [dbo].[Menu] ([itemID])
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD FOREIGN KEY([orderID])
REFERENCES [dbo].[Orders] ([orderID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Accounts] ([account_ID])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD CHECK  (([itemQuantity]>(0) AND [itemQuantity]<(15)))
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD CHECK  (([itemQuantity]>(0) AND [itemQuantity]<(15)))
GO
USE [master]
GO
